<div *ngIf="exercise">
  <div *ngIf="showError" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  <h2>{{exercise.exerciseName | uppercase}}</h2>
  <div class="exercise-container">
    <div class="row">
      <div class="col-lg-4">Exercise Name</div>
      <div class="col-lg-8">
        <input class="form-control" id="exercise-exerciseName" autocomplete="on" [(ngModel)]="exercise.exerciseName" placeholder="exercise name" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-4">Exercise Type</div>
      <div class="col-lg-8">
        <select class="form-control" [formControl]="exerciseTypesForms">
          <option *ngFor="let type of getExerciseTypes(exerciseTypes)" [value]="type" [selected]="type">{{type}}</option>
        </select>
      </div>
    </div>
    <br />
    <div><button type="button" class="button-save" (click)="addExerciseRep()"><i-feather name="plus-circle"></i-feather> Add set</button></div>
    <br />
  </div>


  <div class="exercise-container" [formGroup]="exerciseRepetitionForms">
    <div formArrayName="reps">
      <h2>Exercise Sets:</h2>

      <div *ngFor="let rep of reps.controls; let i=index" [formGroupName]="i">
        <div class="set-box">
          <div class="row">
            <div class="col-lg-4">{{exerciseTypeLabel1}}:</div>
            <div class="col-lg-8">
              <input id="rep-{{ i }}" type="number" min=1 formControlName="Repetitions" numbersOnly />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">{{exerciseTypeLabel2}}:</div>
            <div class="col-lg-8">
              <input id="weight-{{ i }}" type="number" min=0 formControlName="Difficulty" numbersOnly />
            </div>
          </div>
          <div class="exercise-container-button-delete">
            <button class="button-delete" type="button" (click)="removeExerciseRep(i)"><i-feather name="delete"></i-feather> Delete set</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div>
      <button class="button-save" type="button" (click)="save()"><i-feather name="save"></i-feather> Save Exercise</button>
    </div>
    <br />
    <div><button type="button" class="button-save" (click)="goBack()">Go back</button></div>
  </div>
  </div>

