@model IEnumerable<string>

@section Scripts{

    <script src="~/js/Charts.js"></script>
}


<button type="button" class="button-save" id="getChartData"><i data-feather="plus-circle"></i>Get Exercise Summary</button>
<input placeholder="Exercise Name" autocomplete="on" id="exerciseNameInput" list="usedExerciseNames"/>
<datalist id="usedExerciseNames">
    @foreach (var item in Model) {
        <option value="@item">@item</option>
    }
</datalist>

<div id="chartMessage" ></div>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
